@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
}

.fw9-navbar {
  padding: 50px 150px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 50px 50px;
}

.fw9-brand {
  font-weight: 700;
  font-size: 29px;
  color: #6379f4;
}

.fw9-name-user {
  font-weight: 700;
  font-size: 18px;
}

.fw9-bell {
  margin-top: 15px;
}

main {
  padding: 50px 150px;
  background-color: #e5e5e5;
}

.fw9-btn-menu {
  background-color: #6379f4;
}

.fw9-menu-list {
  padding: 50px 35px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}

.fw9-menu {
  font-weight: 400;
  font-size: 18px;
  color: rgba(58, 61, 66, 0.8);
}

.fw9-menu-active {
  font-weight: 400;
  font-size: 18px;
  color: #6379f4;
}

.fw9-input-amount {
  padding: 30px;
}

.fw9-receiver {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 20px;
}

.transfer-header {
  font-weight: 700;
  font-size: 18px;
}

.name-history {
  font-weight: 700;
  font-size: 16px;
}

.type-history {
  font-size: 14px;
  line-height: 19px;
  color: #7a7886;
  font-weight: 400;
}

.guide-transfer {
  font-weight: 400;
  font-size: 16px;
  color: #7a7886;
  max-width: 336px;
}

.input-group-text {
  background-color: unset;
  border: unset;
  border-radius: unset;
  border-bottom: 2px solid #a9a9a999;
  color: #a9a9a999;
}

.form-control {
  border: unset;
  border-radius: unset;
  border-bottom: 2px solid #a9a9a999;
}

.form-control:focus {
  box-shadow: unset;
}

.fw9-submit-btn {
  background-color: #6379f4;
}

footer {
  background-color: #6379f4;
  padding: 20px 150px;
}

footer p {
  font-weight: 400;
  font-size: 16px;

  color: rgba(239, 239, 239, 0.9);
}

@media only screen and (max-width: 768px) {
  main {
    padding: 30px;
  }

  .fw9-navbar {
    padding: 30px;
  }

  footer {
    padding: 30px;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
}

.fw9-navbar {
  padding: 50px 150px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 50px 50px;
}

.fw9-brand {
  font-weight: 700;
  font-size: 29px;
  color: #6379f4;
}

.fw9-name-user {
  font-weight: 700;
  font-size: 18px;
}

.fw9-bell {
  margin-top: 15px;
}

main {
  padding: 50px 150px;
  background-color: #e5e5e5;
}

.fw9-btn-menu {
  background-color: #6379f4;
}

.fw9-menu-list {
  padding: 50px 35px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}

.fw9-menu-list a {
  text-decoration: none;
}

.fw9-menu {
  font-weight: 400;
  font-size: 18px;
  color: rgba(58, 61, 66, 0.8);
}

.fw9-menu-active {
  font-weight: 400;
  font-size: 18px;
  color: #6379f4;
}

.fw9-detail {
  padding: 15px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.fw9-detail h5 {
  font-weight: 400;
  font-size: 16px;
  color: #7a7886;
}

.fw9-detail p {
  font-weight: 700;
  font-size: 22px;
  color: #514f5b;
}

.transfer-header {
  font-weight: 700;
  font-size: 18px;
}

.name-history {
  font-weight: 700;
  font-size: 16px;
}

.type-history {
  font-size: 14px;
  line-height: 19px;
  color: #7a7886;
  font-weight: 400;
}

.fw9-submit-btn {
  background-color: #6379f4;
  color: #514f5b;
}

.fw9-modal {
  padding: 35px;
}

div.fw9-modal a {
  text-decoration: none;
}

.square input {
  width: 53px;
  height: 65px;
  border: 1px solid rgba(169, 169, 169, 0.6);
  box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
  border-radius: 10px;
}

.input-pin {
  width: 53px;
  height: 65px;
  text-align: center;
}

footer {
  background-color: #6379f4;
  padding: 20px 150px;
}

footer p {
  font-weight: 400;
  font-size: 16px;

  color: rgba(239, 239, 239, 0.9);
}

@media only screen and (max-width: 768px) {
  main {
    padding: 30px;
  }

  .fw9-navbar {
    padding: 30px;
  }

  footer {
    padding: 30px;
  }
}
