@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
}

section {
  max-width: 100%;
}

.fw-intro {
  background-image: url('../img/Mask Group.png');
  max-width: 100%;
  padding: 30px 100px 30px;
}

.fw-confirmation {
  padding: 121px 150px 30px 70px;
}

.fw-confirmation a {
  text-decoration: none;
}

.fw-check {
  background-color: #1ec15f;
  width: 70px;
  height: 70px;
}

.fw-accessibility {
  font-size: 16px;
  font-weight: 400;
  color: rgba(58, 61, 66, 0.6);
}

.fw-button {
  margin-top: 90px;
  background-color: #6379f4;
}
