@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
}

body {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 150px;
}

nav h1 {
  font-weight: 700;
  font-size: 29px;
  color: #6379f4;
}

nav div .login {
  display: inline-block;
  margin-right: 30px;
  text-decoration: none;
  border: 2px solid #6379f4;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
  max-width: 120px;
  max-height: 48px;
  padding: 11px 36px;
  font-weight: 700;
  font-size: 18px;
  color: #6379f4;
}

nav div .signup {
  text-decoration: none;
  display: inline-block;
  text-decoration: none;
  background-color: #6379f4;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
  max-width: 120px;
  max-height: 48px;
  padding: 11px 36px;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

header {
  display: flex;
  align-items: center;
  padding: 30px 150px;
}

header div h1 {
  font-weight: 800;
  font-size: 60px;
  line-height: 93px;
  color: #3a3d42;
  max-width: 474px;
  text-align: center;
}

header div h1 span.tagline {
  color: #6379f4;
}

header div p {
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #3a3d42;
  max-width: 428px;
}

header div a {
  text-decoration: none;
  display: inline-block;
  background: #6379f4;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
  max-width: 173px;
  max-height: 57px;
  padding: 16px 45px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
}

header div span.text {
  display: block;
  font-weight: 400;
  font-size: 18px;
  color: #3a3d42;
  margin-bottom: 27px;
}

header div img.google {
  margin-right: 44px;
}

section.clients {
  display: flex;
  justify-content: space-between;
  padding: 105px 150px;
  background-color: rgba(71, 58, 209, 0.06);
  flex-wrap: wrap;
}

section.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 150px;
  background-color: #e5e5e5;
}

section.about h1 {
  font-weight: 800;
  font-size: 60px;
  line-height: 93px;
  color: #6379f4;
  text-align: center;
}

section.about h1 span {
  color: #3a3d42;
}

section.about p {
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
  color: #3a3d42;
  max-width: 567px;
}

section.about div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.about div .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 366px;
  box-shadow: 0px 4px 250px rgba(172, 172, 172, 0.15);
  border-radius: 25px;
  padding: 40px 30px 50px;
}

section.about div .container.main {
  background-color: #ffffff;
}

section.about div .container .icon {
  background-color: rgba(71, 58, 209, 0.1);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  padding: 18px;
  color: #6379f4;
}

section.about div .container h3 {
  font-weight: 700;
  font-size: 24px;
  color: #3a3d42;
}

section.about div .container p {
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
  color: rgba(58, 61, 66, 0.9);
}

section.features {
  display: flex;
  align-items: center;
  padding: 30px 150px;
  background-color: #473ad10f;
}

section.features div h1 {
  font-weight: 800;
  font-size: 60px;
  color: #3a3d42;
  text-align: center;
}

section.features div h1 span {
  color: #6379f4;
}

section.features div .container {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  padding: 25px;
  margin-bottom: 30px;
}

section.features div .container div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 0;
}

section.features div .container div span {
  margin-right: 15px;
  font-weight: 700;
  font-size: 22px;
  color: #6379f4;
  padding: 0;
}

section.features div .container div h5 {
  font-weight: 700;
  font-size: 20px;
  color: #3a3d42;
  margin: 0;
  padding: 0;
}

section.features div .container p {
  font-weight: 400;
  font-size: 18px;
  color: rgba(58, 61, 66, 0.9);
  margin: 0;
  padding: 0;
}

section.users {
  background-color: #e5e5e5;
  padding: 130px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.users h1 {
  font-weight: 800;
  font-size: 60px;
  line-height: 93px;
  color: #3a3d42;
}

section.users h1 span {
  color: #6379f4;
}

section.users p {
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
  color: #3a3d42;
  max-width: 567px;
}

section.users div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

section.users div a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #3a3d42;
  background-color: #ffffff;
  width: 60px;
  height: 60px;
  box-shadow: 0px 5px 70px rgba(149, 148, 148, 0.15);
  border-radius: 50%;
  border-color: inherit;
}

section.users div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 5px 70px rgba(197, 197, 197, 0.15);
  border-radius: 30px;
  padding: 60px;
  margin-top: 60px;
  margin-left: 46px;
  margin-right: 46px;
}

section.users div div h5 {
  font-weight: 700;
  font-size: 26px;
  color: #373c46;
  padding: 0;
  margin-bottom: 0;
}

section.users div div .profesion {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #56585b;
  margin-top: 9px;
}

section.users div div .testimony {
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  text-align: center;
  color: #676a71;
  margin-bottom: 0;
  padding-bottom: 0;
}

footer {
  background-color: #6379f4;
  padding: 80px 150px;
}

footer h4 {
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
}

footer p {
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: rgba(239, 239, 239, 0.75);
  max-width: 285px;
}

footer hr {
  border: 1px solid rgba(255, 255, 255, 0.6);
}

footer div {
  display: flex;
  justify-content: space-between;
}

footer div div p:first-child {
  margin-right: 40px;
}
@media only screen and (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 55px 30px;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    margin-bottom: 100px;
  }

  header img.mobile-display {
    max-width: 70vw;
    margin: 0 auto;
  }

  section.clients {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    background-color: rgba(71, 58, 209, 0.06);
    flex-wrap: wrap;
  }

  section.clients img {
    width: 100px;
    margin: 50px;
  }

  section.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
    background-color: #e5e5e5;
  }

  section.about div {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
  }

  section.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #473ad10f;
  }

  section.features img {
    max-width: 70vw;
    margin: auto;
    text-align: center;
  }

  section.about div .container.main {
    order: -1;
  }

  section.users {
    padding: 30px;
  }

  section.users h1 {
    text-align: center;
  }

  section.users div div {
    order: -1;
    margin: 0;
  }

  section.users div div {
    text-align: center;
  }

  section.users div {
    justify-content: space-between;
  }

  section.users div a {
    margin: 30px 50px;
  }

  footer {
    padding: 30px;
  }

  footer div {
    display: flex;
    flex-direction: column;
  }

  footer div div p:first-child {
    margin-bottom: 0;
  }

  footer div div p:nth-child(2) {
    margin-top: 0;
  }
}
