@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
}

section {
  max-width: 100%;
}

.fw-intro {
  background-image: url('../img/Mask Group.png');
  max-width: 100%;
  padding: 30px 100px 30px;
}

.fw-form {
  padding: 121px 150px 30px 70px;
}

.fw-question {
  color: #3a3d42;
}

.fw-guide {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(58, 61, 66, 0.6);
}

.input-group-text {
  background-color: unset;
  border: unset;
  border-radius: unset;
  border-bottom: 2px solid #a9a9a999;
  color: #a9a9a999;
}

.form-control {
  border: unset;
  border-radius: unset;
  border-bottom: 2px solid #a9a9a999;
}

.form-control:focus {
  box-shadow: unset;
}

.fw-confirmation a {
  text-decoration: none;
}

.fw-button {
  margin-top: 90px;
  background: #dadada;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
}

.fw-confirm-btn {
  color: #88888f;
  font-weight: 700;
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  .fw-form {
    padding: 30px 100px;
  }

  .fw-signup {
    margin-bottom: 70px;
  }
}
