@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
}

section {
  max-width: 100%;
}

.fw-intro {
  background-image: url('../img/Mask Group.png');
  max-width: 100%;
  padding: 30px 100px 30px;
}

.fw-form {
  padding: 30px 150px 30px 70px;
}

.fw-margin {
  margin-top: 115px;
}

.fw-accessibility {
  font-size: 16px;
  font-weight: 400;
  color: #3a3d4299;
}

.input-group-text {
  background-color: unset;
  border: unset;
  border-radius: unset;
  border-bottom: 2px solid #a9a9a999;
  color: #a9a9a999;
}

.form-control {
  border: unset;
  border-radius: unset;
  border-bottom: 2px solid #a9a9a999;
}

.form-control:focus {
  box-shadow: unset;
}

.fw-button {
  margin-top: 90px;
  background-color: #dadada;
}

.fw-forgot-pw a {
  font-size: 14px;
  font-weight: 600;
  color: #3a3d42cc;
}

a {
  text-decoration: none;
}

.fw-login-btn {
  color: #88888f;
  font-weight: 700;
  font-size: 18px;
}

.fw-signup {
  font-weight: 400;
  font-size: 16px;
  color: #3a3d42cc;
}

.fw-signup a {
  color: #6379f4;
}

@media only screen and (max-width: 768px) {
  .fw-form {
    padding: 30px 100px;
  }

  .fw- {
    margin-bottom: 70px;
  }
}
