@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 300vh;
}

header {
  display: flex;
  width: 100vw;
  justify-content: center;
  overflow: hidden;
}

.hero1 {
  width: 100%;
  overflow: hidden;
}

.hero1 .container {
  margin-top: 63px;
  margin-left: 150px;
}

.hero1 .container h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700px;
  font-size: 29px;
  color: #6379f4;
}

.hero1 .container p {
  position: absolute;
  width: 474px;
  height: 186px;
  left: 150px;
  top: 244px;

  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 93px;
}

.hero1 .container p span {
  color: #6379f4;
}

.hero1 .container .message {
  position: absolute;
  left: 10.42%;
  right: 59.86%;
  bottom: 88.36%;
  margin-top: 220px;

  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #3a3d42;
}

.hero1 .container div.btn-try {
  width: 173px;
  height: 57px;
  border-radius: 12px;
  background-color: #6379f4;
  color: white;
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  font-family: 'Nunito Sans';
  margin-top: 470px;
}

.hero2 {
  background-image: url('img/Rectangle 43.png');
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  width: 100%;
  overflow-x: hidden;
}

.login {
  display: flex;
  position: absolute;
  width: 120px;
  height: 48px;
  border: 2px solid white;
  border-radius: 12px;
  margin-top: 55px;
  margin-left: 290px;
  color: white;
  justify-content: center;
  align-items: center;
}

.signup {
  position: absolute;
  display: flex;
  width: 120px;
  height: 48px;
  background-color: white;
  border-radius: 12px;
  margin-top: 55px;
  margin-left: 440px;
  color: #6379f4;
  justify-content: center;
  align-items: center;
}

.hero2 .wave {
  margin-top: 108px;
}

.hero2 .handphone {
  position: absolute;
  margin-top: 118px;
}

div.about {
  margin-top: 60vh;
  background-color: rgba(71, 58, 209, 0.06);
  width: 100vw;
  height: 100vh;
}

div.about h1 {
  width: 100%;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 93px;
  text-align: center;
}

div.about p {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  /* or 172% */

  text-align: center;
}

div.about .feature {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

div.about .feature .time {
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-items: center;
  width: 367px;
  height: 344px;
  background-color: white;
  border-radius: 25px;
  margin: 0 5px;
}

div.about .feature .time .ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(71, 58, 209, 0.1);
  border-radius: 50%;
  padding: 10px;
}

div.about .feature .time h3 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  margin-top: 40px;
}

div.about .feature .time p {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  margin-top: 30px;
}

/* Privacy */

div.about .feature .privacy {
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-items: center;
  width: 367px;
  height: 344px;
  background-color: white;
  border-radius: 25px;
  margin: 0 5px;
}

div.about .feature .privacy .ellipse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(71, 58, 209, 0.1);
  border-radius: 50%;
  padding: 10px;
}

div.about .feature .privacy h3 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  margin-top: 40px;
}

div.about .feature .privacy p {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  margin-top: 30px;
}

/* download */

div.about .feature .download {
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-items: center;
  width: 367px;
  height: 344px;
  background-color: white;
  border-radius: 25px;
  margin: 0 5px;
}

div.about .feature .download .ellipse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(71, 58, 209, 0.1);
  border-radius: 50%;
  padding: 10px;
}

div.about .feature .download h3 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  margin-top: 40px;
}

div.about .feature .download p {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  margin-top: 30px;
}

/* ============================================= */
/* Clients */

div.clients {
  width: 100vw;
  display: flex;
  margin-top: 100px;
  justify-content: space-evenly;
}

div.clients .text h1 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800px;
  font-size: 80px;
  line-height: 93px;
}

div.clients .text p {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
}

/* ================================================== */
/* Features */

div.features {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(71, 58, 209, 0.06);
}

div.features div {
  margin-top: 80px;
}

div.features h1 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 93px;
  margin-top: 174px;
}

div.features .container {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  padding: 10px;
}

div.features .container h3 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 31px;
}

div.features .container p {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
}

/* ============================================ */
/* Review */

div.review {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  background-color: #e5e5e5;
}

div.review h1 {
  padding-top: 30px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 93px;
}

div.review p {
  width: 567px;
  text-align: center;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
}

div.review .users {
  width: 100vw;
  display: flex;
  justify-content: space-around;

  margin-bottom: 100px;
}

div.review .users div {
  background: #ffffff;
  border-radius: 25px;
  width: 367px;
  height: 344px;
  text-align: center;
}

div.review .users div img {
  margin-top: 40px;
}

div.review .users div h3 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  margin-top: 20px;
}

div.review .users div p {
  width: 307px;
  margin-top: 60px;
  margin-left: 30px;
}

/* ===================================== */
/* Footer */

footer {
  width: 100vw;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #6379f4;
  position: relative;
}

footer h1 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #ffffff;
}

footer p {
  width: 285px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  margin-top: 60px;
}

footer hr {
  border: 1px solid rgba(255, 255, 255, 0.6);
  margin-top: 60px;
}

footer div {
  display: flex;
  justify-content: space-between;
}

footer div p {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
